@import '../GlobalRules/globalRules.scss';

header {
    @include fl-sb;
    border-bottom: 5px solid $f-clr;

    .cart {
        display: flex;
        gap: 18px;

        i {
            font-size: 28px;
        }
    }

    .logo {
        display: flex;
        flex-direction: column;
        align-items: center;

        .logo-img {
            width: 180px
        }
    }

    .search {
        display: flex;
        align-items: center;
        height: 45px;
        margin-top: 10px;

        .search-icon {
            position: relative;
            background-color: $f-clr;
            height: 100%;
            width: 45px;
            border-top-right-radius: 6px;
            border-bottom-right-radius: 6px;

            i {
                @include center;
                color: #FFF;
                font-size: 22px;
            }
        }


        input {
            height: 100%;
            width: 22em;
            padding: 0px 10px;
            background-color: #ebebeb;
            border: none;
            outline: none;
            border-top-left-radius: 6px;
            border-bottom-left-radius: 6px;

            &:focus {
                border: none
            }
        }
    }


    // In Mobile
    .bar {

        i {
            font-size: 27px
        }
    }

}

.header-monitor {
    padding: 15px 150px

}
.header-mobile {
    padding: 15px 50px
}


footer {
    @include fl-sb;
    padding: 20px 150px;
    color: #FFF;
    background-color: $f-clr;
    border-top: 10px solid $s-clr;

    .socials {
        display: flex;
        align-items: center;
        gap: 7px;

        img {
            width: 35px;
        }

        p {
            font-size: 18px;
            font-weight: 400;
        }
    }

    p {
        font-size: 18px;
        font-weight: 500;
    }
}