@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Almarai";
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
}

.disFlex {
  display: flex;
}

.disNone {
  display: none;
}

.disBlock {
  display: block;
}

.container {
  display: flex;
  justify-content: space-between;
  padding: 0 5vw;
  gap: 2rem;
  max-width: 1300px;
  margin: 0 auto;
}

@media (max-width: 600px) {
  .container {
    margin: 0 40px;
  }
}
.btn {
  background-color: #00CE7F;
  color: #FFF;
  border: none;
  border-radius: 5px;
  width: 5em;
  height: 1.7em;
  font-size: 15px;
  font-weight: bold;
}
.btn:hover {
  cursor: pointer;
  background-color: #01b872;
}

.admin-product-management .container .products {
  width: 90%;
}
.admin-product-management .container .products .add-product {
  margin: 40px 30px;
}
.admin-product-management .container .products .add-product h1 {
  margin-bottom: 20px;
}
.admin-product-management .container .products .add-product .product-form {
  background-color: #F5F5F5;
  padding: 25px;
}
.admin-product-management .container .products .add-product .product-form form {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
}
.admin-product-management .container .products .add-product .product-form form .product-details {
  display: flex;
  flex-wrap: wrap;
  gap: 2em 5em;
}
.admin-product-management .container .products .add-product .product-form form .product-details .inp {
  display: flex;
  flex-direction: column;
}
.admin-product-management .container .products .add-product .product-form form .product-details .inp label {
  font-size: 18px;
  margin-bottom: 7px;
}
.admin-product-management .container .products .add-product .product-form form .product-details .inp input {
  width: 28em;
  height: 2.4em;
  border-radius: 3px;
  border: 1px solid black;
  padding-right: 7px;
}
.admin-product-management .container .products .add-product .product-form form .product-details .inp textarea {
  width: 28em;
  height: 15em;
  padding: 7px 7px 0 0;
}
.admin-product-management .container .products .add-product .product-form form .product-details .target {
  grid-area: targetInp;
}
.admin-product-management .container .products .add-product .product-form form .product-details .target h4 {
  font-weight: 400;
  margin-bottom: 7px;
}
.admin-product-management .container .products .add-product .product-form form .product-details .target .options {
  display: flex;
  align-items: center;
  gap: 2em;
}
.admin-product-management .container .products .add-product .product-form form .product-details .target .options .opt {
  display: flex;
  align-items: center;
}
.admin-product-management .container .products .add-product .product-form form .product-details .target .options .opt p {
  font-size: 18px;
  margin-bottom: 0;
}
.admin-product-management .container .products .add-product .product-form form .product-details .target .options .opt input {
  width: 15px;
  height: 15px;
  margin-left: 7px;
}
.admin-product-management .container .products .add-product .product-form form .product-details .target .options .opt input:checked {
  background-color: red;
}
.admin-product-management .container .products .add-product .product-form form .product-details .images-inp {
  grid-area: imagesInp;
}
.admin-product-management .container .products .add-product .product-form form .product-details .images-inp h4 {
  font-weight: 400;
  margin-bottom: 7px;
}
.admin-product-management .container .products .add-product .product-form form .product-details .images-inp .add-imgs {
  display: flex;
  align-items: center;
  gap: 2em;
}
.admin-product-management .container .products .add-product .product-form form .product-details .images-inp .add-imgs .drop-area {
  width: 200px;
  height: 220px;
  background-color: #FFF;
  border-radius: 3px;
  border: 1px solid black;
}
.admin-product-management .container .products .add-product .product-form form .product-details .images-inp .add-imgs .drop-area .img-view {
  position: relative;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.admin-product-management .container .products .add-product .product-form form .product-details .images-inp .add-imgs .drop-area .img-view .plus-icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 65px;
}
.admin-product-management .container .products .add-product .product-form form .add-btn {
  width: 100%;
}
.admin-product-management .container .products .add-product .product-form form .add-btn [type=submit] {
  width: 7em;
  height: 2.2em;
  font-size: 18px;
}
.admin-product-management .container .products .products-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 80px 0;
}
.admin-product-management .container .products .products-list h2 {
  font-size: 32px;
}
.admin-product-management .container .products .products-list select {
  font-size: 18px;
  padding: 5px;
  margin: 10px 0;
}
.admin-product-management .container .products .products-list .products {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2em;
}

.admin-orders-management .container .orders-content {
  width: 90%;
  padding: 2em;
}
.admin-orders-management .container .orders-content .orders-table {
  margin: 3em 0;
  padding: 12px;
  background-color: #f0f0f0;
}
.admin-orders-management .container .orders-content .orders-table .orders-types {
  padding-bottom: 5px;
}
.admin-orders-management .container .orders-content .orders-table .orders-types ul {
  display: flex;
  align-items: center;
  gap: 2em;
}
.admin-orders-management .container .orders-content .orders-table .orders-types ul li {
  font-size: 18px;
}
.admin-orders-management .container .orders-content .orders-table .search-orders-counter {
  border-top: 1px solid #363636;
  border-bottom: 1px solid #363636;
  padding: 15px 0;
}
.admin-orders-management .container .orders-content .orders-table .search-orders-counter .search i {
  color: #FFF;
  background-color: #6533E1;
}
header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
  border-bottom: 2px solid black;
  padding: 15px 0;
}
header img {
  width: 10em;
}
header p {
  font-size: 18px;
  font-weight: 600;
}

footer {
  text-align: center;
}
footer p {
  color: #FFF;
  font-size: 18px;
}/*# sourceMappingURL=adminPage.css.map */