@import '../GlobalRules/globalRules.scss';

// All admin pages here.

.admin-product-management {
    .container {
        .products {
            width: 90%;
            
            .add-product {
                margin: 40px 30px;

                h1 {
                    margin-bottom: 20px;
                }

                .product-form {
                    background-color: #F5F5F5;
                    padding: 25px;

                    form {
                        display: flex;
                        flex-wrap: wrap;
                        gap: 2em;

                        .product-details {
                            display: flex;
                            flex-wrap: wrap;
                            gap: 2em 5em;

    
                            .target {
                                grid-area: targetInp;
    
                                h4 {
                                    font-weight: 400;
                                    margin-bottom: 7px
                                }
    
                                .options {
                                    display: flex;
                                    align-items: center;
                                    gap: 2em;
    
                                    .opt {
                                        display: flex;
                                        align-items: center;
            
                                        p {
                                            font-size: 18px;
                                            margin-bottom: 0;
                                        }
            
                                        input {
                                            width: 15px;
                                            height: 15px;
                                            margin-left: 7px;
    
                                            &:checked {
                                                background-color: red;
                                            }
                                        }
                                    }
                                }
                            }
    
                            .images-inp {
                                grid-area: imagesInp;
    
                                h4 {
                                    font-weight: 400;
                                    margin-bottom: 7px
                                }
    
                                .add-imgs {
                                    display: flex;
                                    align-items: center;
                                    gap: 2em;
    
                                    .drop-area {
                                        width: 200px;
                                        height: 220px;
                                        background-color: #FFF;
                                        border-radius: 3px;
                                        border: 1px solid black;
    
                                        input {
    
                                        }
    
                                        .img-view {
                                            position: relative;
                                            width: 100%;
                                            height: 100%;
                                            background-position: center;
                                            background-size: contain;
                                            background-repeat: no-repeat;
    
                                            .plus-icon {
                                                @include center;
                                                width: 65px;
                                            }
                                        }
                                        
                                    }
                                }
                            }
                        }

                        .add-btn {
                            width: 100%;

                            [type='submit'] {
                                width: 7em;
                                height: 2.2em;
                                font-size: 18px
                            }
                        }
                    }
                }
            }

            .products-list {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 80px 0;

                h2 {
                    font-size: 32px;
                }

                select {
                    font-size: 18px;
                    padding: 5px;
                    margin: 10px 0;

                    option {

                    }
                }

                .products {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-wrap: wrap;
                    gap: 2em;
                }
            }
        }
    }
}

.admin-orders-management {

    .container {

        .orders-content {
            width: 90%;
            padding: 2em;

            .orders-table {
                margin: 3em 0;
                padding: 12px;
                background-color: $light-elements-background;

                .orders-types {
                    padding-bottom: 10px;

                    ul {
                        display: flex;
                        align-items: center;
                        gap: 2em;

                        li {
                            font-size: 18px;
                        }
                    }
                }

                .search-orders-counter {
                    border-top: 1px solid #363636;
                    border-bottom: 1px solid #363636;
                    padding: 25px 15px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    
                    .search {
                        width: 50%;
                        display: flex;

                        i {
                            position: relative;
                            width: 2.5em;
                            color: #FFF;
                            background-color: $f-clr;
                            margin-left: -4px;
                            border-top-right-radius: 3px;
                            border-bottom-right-radius: 3px;

                            &::before {
                                position: absolute;
                                left: 50%;
                                top: 50%;
                                transform: translate(-50%, -50%);
                                font-size: 21px;
                            }
                        }

                        input {
                            height: 2.2em;
                            width: 60%;
                            font-size: 15px;
                            border-radius: 3px;
                            border: 1px solid black;
                            border-right: none;
                            outline: none;
                            padding-right: 10px;
                        }
                    }

                    .orders-counter {

                        p {
                            font-size: 20px
                        }
                    }
                }

                table {
                    width: 100%;
                    border-collapse: collapse;
                    margin: 20px 0;
                    background-color: #fff;

                    th {
                        background-color: $light-elements-background;
                        padding: 10px;
                        text-align: right;
                        font-weight: bold;
                    }
                    
                    td {
                        padding: 10px;
                        border: 1px solid #ddd;
                    }

                    tr {
                        &:hover {
                            background-color: $light-elements-background;
                        }
                    }

                    .status {
                        border: 1px solid;
                        border-radius: 7px;
                        padding: 7px;
                        text-align: center;
                        color: #FFF;

                        &.done {
                            background-color: #5FE46F;
                            border-color: #10A321;
                        }
                        &.canceled {
                            background-color: #FF7171;
                            border-color: #FF2626;
                        }
                        &.delivery {
                            background-color: #FFDA45;
                            border-color: #B89300;
                        }
                        &.waiting {
                            background-color: #71A2FF;
                            border-color: #357CFF;
                        }
                    }
                }
                
                table, th, td {
                    border: 1px solid #ddd;
                }
            }
        }
    }
}

.admin-website-edits {

    .container {

        .website-edits {
            width: 90%;
            padding: 2em;

            .elements-edit {
                margin: 3em 0;
                padding: 12px;
                background-color: $light-elements-background;

                .logo {
                    position: relative;
                    width: 100%;
                    text-align: center;
                    padding: 20px 0;

                    img {
                        width: 170px
                    }
                }

                .intro, .features, .products, .title, .comments {
                    position: relative;
                }


                .edit-icon {
                    position: absolute;
                    top: 15px;
                    left: 20px;

                    i {
                        font-size: 20px;
                        cursor: pointer;
                    }
                }
            }

            .edit-window {
                position: fixed;
                top: 0;
                right: 0;
                height: 100%;
                width: 100%;
                background-color: hsla(0, 0%, 0%, 0.45);
                z-index: 99;

                .edit {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 60%;
                    height: 80%;
                    background-color: #EDEDED;
                    padding: 20px;
                    border-radius: 7px;
                    overflow-y: auto;

                    h2 {
                        margin-bottom: 15px
                    }

                    .exit {
                        position: absolute;
                        top: 8px;
                        left: 8px;
    
                        i {
                            font-size: 35px;
                            color: $f-clr;
                        }
                    }
                }
            }

            .intro-edit {
                form {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 30px;
                    margin-bottom: 50px;

                    .drop-area {
                        display: block;
                        width: 200px;
                        height: 220px;
                        background-color: #FFF;
                        border-radius: 3px;
                        border: 1px solid black;
        
                        input {
        
                        }
        
                        .img-view {
                            position: relative;
                            width: 100%;
                            height: 100%;
                            background-position: center;
                            background-size: contain;
                            background-repeat: no-repeat;
        
                            .plus-icon {
                                @include center;
                                width: 65px;
                            }
                        }
                        
                    }
                }
            }

            .features-edit {

                .features-inps {
                    .fea {
                        display: flex;
                        align-items: center;
                        margin-bottom: 15px;

                        img {
                            width: 55px;
                            margin-left: 10px
                        }

                        .inp {
                            input {
                                font-size: 16px;
                                height: 3em;
                            }
                        }
                    }
                }
            }

            .products-comments-title {

                .inp {
                    margin-bottom: 30px
                }
            }

            .products-edit {

                .products-list {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin: 60px 0 100px;

                    select {
                        font-size: 18px;
                        padding: 5px;
                        margin: 10px 0;
                    }
    
                    .products {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-wrap: wrap;
                        gap: 2em;
                    }
                }

                .selected-products {
                    display: flex;
                    align-items: center;
                    flex-wrap: wrap;
                }
            }

            .delivery-edit {
                margin-bottom: 10em;

                .areas-form {
                    display: flex;
                    align-items: flex-start;
                    justify-content: space-between;
                    margin-top: 30px;

                    form {

                        .inp {
                            display: flex;
                            flex-direction: column;

                            label {
                                font-size: 18px;
                                margin-bottom: 7px
                            }

                            input {
                                width: 28em;
                                height: 2.4em;
                                border-radius: 3px;
                                border: 1px solid black;
                                padding-right: 7px;
                            }
                        }

                        [type='submit'] {
                            width: 6em;
                            height: 2em;
                            font-size: 18px;
                            margin-top: 20px
                        }
                    }

                    .areas-list {
                        display: flex;
                        flex-wrap: wrap;
                        gap: 8px;
                        background-color: $light-elements-background;
                        width: 40%;
                        height: 100px;
                        border-radius: 5px;
                        padding: 10px;

                        .area {
                            background-color: $f-clr;
                            color:#FFF;
                            width: fit-content;
                            height: fit-content;
                            padding: 8px 5px;
                            border-radius: 3px;

                            p {

                            }
                        }
                    }
                }
            }
        }
    }
}

// Header and Footer
header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
    border-bottom: 2px solid black;
    padding: 15px 0;

    img {
        width: 10em;
    }

    p {
        font-size: 18px;
        font-weight: 600;
    }
}
footer {
    text-align: center;

    p {
        color: #FFF;
        font-size: 18px
    }
}