@import '../GlobalRules/globalRules.scss';

// All admin pages here.

.admin-product-management {
    .container {
        .products {
            width: 90%;
            
            .add-product {
                margin: 40px 30px;

                h1 {
                    margin-bottom: 20px;
                }

                .product-form {
                    background-color: #F5F5F5;
                    padding: 25px;

                    form {
                        display: flex;
                        flex-wrap: wrap;
                        gap: 2em;

                        .product-details {
                            display: flex;
                            flex-wrap: wrap;
                            gap: 2em 5em;

                            .inp {
                                display: flex;
                                flex-direction: column;
    
                                label {
                                    font-size: 18px;
                                    margin-bottom: 7px
                                }
    
                                input {
                                    width: 28em;
                                    height: 2.4em;
                                    border-radius: 3px;
                                    border: 1px solid black;
                                    padding-right: 7px;
                                }
    
                                textarea {
                                    width: 28em;
                                    height: 15em;
                                    padding: 7px 7px 0 0 
                                }
                            }
    
                            .target {
                                grid-area: targetInp;
    
                                h4 {
                                    font-weight: 400;
                                    margin-bottom: 7px
                                }
    
                                .options {
                                    display: flex;
                                    align-items: center;
                                    gap: 2em;
    
                                    .opt {
                                        display: flex;
                                        align-items: center;
            
                                        p {
                                            font-size: 18px;
                                            margin-bottom: 0;
                                        }
            
                                        input {
                                            width: 15px;
                                            height: 15px;
                                            margin-left: 7px;
    
                                            &:checked {
                                                background-color: red;
                                            }
                                        }
                                    }
                                }
                            }
    
                            .images-inp {
                                grid-area: imagesInp;
    
                                h4 {
                                    font-weight: 400;
                                    margin-bottom: 7px
                                }
    
                                .add-imgs {
                                    display: flex;
                                    align-items: center;
                                    gap: 2em;
    
                                    .drop-area {
                                        width: 200px;
                                        height: 220px;
                                        background-color: #FFF;
                                        border-radius: 3px;
                                        border: 1px solid black;
    
                                        input {
    
                                        }
    
                                        .img-view {
                                            position: relative;
                                            width: 100%;
                                            height: 100%;
                                            background-position: center;
                                            background-size: contain;
                                            background-repeat: no-repeat;
    
                                            .plus-icon {
                                                @include center;
                                                width: 65px;
                                            }
                                        }
                                        
                                    }
                                }
                            }
                        }

                        .add-btn {
                            width: 100%;

                            [type='submit'] {
                                width: 7em;
                                height: 2.2em;
                                font-size: 18px
                            }
                        }
                    }
                }
            }

            .products-list {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 80px 0;

                h2 {
                    font-size: 32px;
                }

                select {
                    font-size: 18px;
                    padding: 5px;
                    margin: 10px 0;

                    option {

                    }
                }

                .products {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-wrap: wrap;
                    gap: 2em;
                }
            }
        }
    }
}

.admin-orders-management {

    .container {

        .orders-content {
            width: 90%;
            padding: 2em;

            .orders-table {
                margin: 3em 0;
                padding: 12px;
                background-color: $light-elements-background;

                .orders-types {
                    padding-bottom: 10px;

                    ul {
                        display: flex;
                        align-items: center;
                        gap: 2em;

                        li {
                            font-size: 18px;
                        }
                    }
                }

                .search-orders-counter {
                    border-top: 1px solid #363636;
                    border-bottom: 1px solid #363636;
                    padding: 25px 15px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    
                    .search {
                        width: 50%;
                        display: flex;

                        i {
                            position: relative;
                            width: 2.5em;
                            color: #FFF;
                            background-color: $f-clr;
                            margin-left: -4px;
                            border-top-right-radius: 3px;
                            border-bottom-right-radius: 3px;

                            &::before {
                                position: absolute;
                                left: 50%;
                                top: 50%;
                                transform: translate(-50%, -50%);
                                font-size: 21px;
                            }
                        }

                        input {
                            height: 2.2em;
                            width: 60%;
                            font-size: 15px;
                            border-radius: 3px;
                            border: 1px solid black;
                            border-right: none;
                            outline: none;
                            padding-right: 10px;
                        }
                    }

                    .orders-counter {

                        p {
                            font-size: 20px
                        }
                    }
                }

                table {
                    width: 100%;
                    border-collapse: collapse;
                    margin: 20px 0;
                    background-color: #fff;

                    th {
                        background-color: $light-elements-background;
                        padding: 10px;
                        text-align: right;
                        font-weight: bold;
                    }
                    
                    td {
                        padding: 10px;
                        border: 1px solid #ddd;
                    }

                    tr {
                        &:hover {
                            background-color: $light-elements-background;
                        }
                    }

                    .status {
                        border: 1px solid;
                        border-radius: 7px;
                        padding: 7px;
                        text-align: center;
                        color: #FFF;

                        &.done {
                            background-color: #5FE46F;
                            border-color: #10A321;
                        }
                        &.canceled {
                            background-color: #FF7171;
                            border-color: #FF2626;
                        }
                        &.delivery {
                            background-color: #FFDA45;
                            border-color: #B89300;
                        }
                        &.waiting {
                            background-color: #71A2FF;
                            border-color: #357CFF;
                        }
                    }
                }
                
                table, th, td {
                    border: 1px solid #ddd;
                }
            }
        }
    }
}


// Header and Footer
header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
    border-bottom: 2px solid black;
    padding: 15px 0;

    img {
        width: 10em;
    }

    p {
        font-size: 18px;
        font-weight: 600;
    }
}
footer {
    text-align: center;

    p {
        color: #FFF;
        font-size: 18px
    }
}